.dashboard {
  padding: 20px;
  // font-family: gotham;
  background-color: #f8f5ef;

  height: 100vh;
  overflow-y: scroll;
  padding-top: 100px;
}
.back {
  background-color: white;
  margin-top: 40px;
  cursor: pointer;
}
