.inventory {
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 210px;
}

.add-asset {
  background-color: #9ddcf9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.add-asset:hover {
  background-color: #007bff;
}

.asset-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.asset-table th,
.asset-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.asset-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.asset-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.asset-table tr:hover {
  background-color: #ddd;
}

.asset-table th,
.asset-table td {
  padding: 12px;
}

.asset-table th {
  background-color: #449aba;
  color: white;
}

button {
  background-color: #e0efd4;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
