.sidebar {
  height: 100%;
  width: 280px;
  transition: all 0.3s ease;
  background-color: #9ddcf9;
  // margin-top: 100px;
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3;
    padding-top: 15px;
    .h {
      font-weight: bold;
      font-size: 20px;
      color: #ffe6b9;
    }
    .s-logo {
      width: 50px; /* Adjust the width as needed */
      height: auto; /* Maintain aspect ratio */
      margin: 10px; /* Add some margin if needed */
    }
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    .copy {
      color: gray;
    }
  }
  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20;
    .btns-c {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      padding: 15px;
      border-radius: 5px;
      cursor: pointer;
      .btns {
        display: flex;
        align-items: center;
        gap: 20px;
        color: black;
      }
    }
    .btns-c:hover {
      background: color #a1a1a1;
      color: white;
    }
  }
}
