.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1e596e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 70%;
  height: 10%;

  transition: left 0.3s ease;
  margin-top: 0px;
  display: flex;

  &.collapsed {
    left: 80px;
  }

  &.expanded {
    left: 300px;
  }

  .left {
    display: flex;
    align-items: center;

    .head {
      margin-left: 10px;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .middle {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;

    .input {
      display: flex;
      align-items: center;
      background-color: #f1f1f1;
      border-radius: 5px;
      padding: 5px 10px;

      .search {
        margin-left: 10px;

        .s {
          border: none;
          background: none;
          outline: none;
          padding: 5px;
          font-size: 16px;
        }
      }
    }

    .hr {
      margin: 0 20px;
      border: none;
      border-left: 1px solid #ddd;
      height: 30px;
    }

    .profile {
      display: flex;
      align-items: center;
      position: relative;

      .avator {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
      }

      .pop {
        position: absolute;
        top: 50px;
        right: 10px;
        background-color: #8b8b8b;
        color: #fff;
        text-decoration: underline; // Ensure this is applied
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        z-index: 1000;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease-in-out;

        span {
          padding: 10px 15px;
          cursor: pointer;
          border-radius: 5px;
          transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

          &:hover {
            background-color: #9ddcf9;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            text-decoration: underline; // Ensure this is applied on hover as well
          }
        }
      }

      .name {
        margin-left: 10px;
        font-size: 16px;
        font-weight: bold;
      }

      &:hover .pop {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
